<!DOCTYPE html>
<html lang="{{ locale|default(CurrentLocale.Key|default('en')) }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if isLegacyController|default(false) %}
            {{ renderControllerAsset('Head') }}
        {% else %}
            {{ pageHead.renderHtml() }}
        {% endif %}
        <noscript>
            <style>
                .fullPageLoader { display: none }
            </style>
        </noscript>
    </head>
    <body class="{{ cssClasses }}">
        <div id="page" class="page">
            {%- if header -%}
                <noscript id="themeHeader">
                    {{ header|raw }}
                </noscript>
            {%- endif -%}
            <header id="titleBar"></header>
            <div id="app" class="page-minHeight">
            {%- if seoContent -%}
                <noscript>
                    <style>
                        body.isLoading .page {
                            max-height: initial;
                            height: initial;
                        }
                    </style>
                    <h1 class="heading heading-1 pageTitle">
                        {{- title -}}
                    </h1>
                    {{- seoContent|raw }}
                </noscript>
            {%- endif -%}

                <div class="fullPageLoader"></div>
            </div>
            {%- if footer -%}
                <noscript id="themeFooter">{{ footer|raw }}</noscript>
            {%- endif -%}
        </div>
        <div id="modals"></div>
    </body>
</html>
