<span class="embedExternal embedImage display-{{ displaySize }} float-{{ float }}" data-embedjson="{{ embedJson }}">
    <span class="embedExternal-content">
        <a class="embedImage-link" href="{{ sanitizeUrl(url) }}" rel="nofollow noopener ugc" target="_blank">
            <img class="embedImage-img" src="{{ url }}" alt="{{ name }}" height="{{ height }}" width="{{ width }}" loading="lazy" data-display-size="{{ displaySize }}" data-float="{{ float }}" data-type="{{ type }}" data-embed-type="{{ embedType }}"/>
        </a>
    </span>
</span>
