<div class="embedExternal embedText embedLink">
    <div class="embedExternal-content embedText-content embedLink-content">
        <a class="embedLink-link" href="{{ sanitizeUrl(url ?? '') }}" rel="noopener noreferrer">
            <article class="embedText-body">
                {% if photoUrl is not null -%}
                    <img src='{{ photoUrl }}' class='embedLink-image' aria-hidden='true'>
                {% else %}

                {% endif -%}
                <div class="embedText-main">
                    <div class="embedText-header">
                        <h3 class="embedText-title">{{ name }}</h3>
                        {% if timestamp is not null -%}
                            <time class="embedLink-dateTime metaStyle" dateTime="{{ timestamp }}">{{ humanTime }}</time>
                        {% else %}

                        {% endif -%}
                        <span class="embedLink-source metaStyle">{{ sanitizeUrl(url ?? '') }}</span>
                    </div>
                    <div class="embedLink-excerpt">{{ body }}</div>
                </div>
            </article>
        </a>
    </div>
</div>