<div class="embedExternal embedText embedLink">
    <div class="embedExternal-content embedText-content embedLink-content">
        <a class="embedLink-link" href="{{renderData.urlEncoded}}" rel="noopener noreferrer">
            <article class="embedText-body">
                {{renderData.image}}
                <div class="embedText-main">
                    <div class="embedText-header">
                        <h3 class="embedText-title">{{renderData.nameEncoded}}</h3>
                        {{renderData.timestampAsMeta}}
                        {{renderData.urlAsMeta}}
                    </div>
                    <div class="embedLink-excerpt">{{renderData.bodyEncoded}}</div>
                </div>
            </article>
        </a>
    </div>
</div>
