<section>
<h2 class="subheading">{{ t("Options") }}</h2>
<ul>
    <li class="form-group">
    {{ form.toggle(
        "ThemeOptions.Options.hasHeroBanner",
        t("Integrate Hero Image plugin"),
        [],
        t("Displays \"Hero Image\" plugin below the header. \"Hero Image\" plugin needs to be enabled for this option to work properly.")
    ) }}
    </li>
    <li class="form-group">
    {{ form.toggle(
        "ThemeOptions.Options.hasFeatureSearchbox",
        t("Integrate searchbox with Hero Image plugin"),
        [],
        t("Change searchbox's position to display over Hero Banner. \"Hero Image\" plugin needs to be enabled for this option to work properly.")
    ) }}
    </li>
    <li class="form-group">
    {{ form.toggle(
        "ThemeOptions.Options.panelToLeft",
        t("Panel to the left"),
        [],
        t("Change the main panel's position to the left side.")
    ) }}
    </li>
</ul>
</section>
<div class="form-footer js-modal-footer">
{{ form.button("Save") }}
</div>
