<section>
<h2 class="subheading">{{ t("Options") }}</h2>
<ul>
    <li class="form-group">
    {{ form.toggle(
        "ThemeOptions.Options.hasHeroBanner",
        t("Integrate Banner Image"),
        [],
        t("Displays the banner image form the branding page prominently throughout the theme.")
    ) }}
    </li>
    <li class="form-group">
    {{ form.toggle(
        "ThemeOptions.Options.hasFeatureSearchbox",
        t("Banner Search Box"),
        [],
        t("Display a searchbox on top of the banner image.")
    ) }}
    </li>
    <li class="form-group">
    {{ form.toggle(
        "ThemeOptions.Options.panelToLeft",
        t("Panel to the left"),
        [],
        t("Change the main panel's position to the left side.")
    ) }}
    </li>
</ul>
</section>
<div class="form-footer js-modal-footer">
{{ form.button("Save") }}
</div>
