<!DOCTYPE html>

<html lang="{{ locale }}" {{  isDirectionRTL ? 'dir="rtl"' : ""}}>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ pageHead }}
        <noscript>
            <style>
                .fullPageLoader { display: none }

                body.isLoading .page {
                    max-height: initial;
                    height: initial;
                }
            </style>
        </noscript>
    </head>
    <body class="{{ cssClasses }}">
        {% include "@resources/svg-symbols.html" %}
        <div id="page" class="page">
            {%- if themeHeader -%}
                <noscript id="themeHeader">
                    {{ themeHeader }}
                </noscript>
            {%- endif -%}
            {%- if bodyContent|default(false) -%}
                <header id="titleBar" data-react="title-bar-hamburger"></header>
                {{ bodyContent }}
            {%- else -%}
                <header id="titleBar"></header>
                <div id="app" class="page-minHeight">
                    {% if breadcrumbs|default(false) %}
                        <noscript>
                            <div class="breadcrumbs">
                            {% for breadcrumb in breadcrumbs %}
                                <span class="crumb">
                                    <a href="{{ breadcrumb.getUrl() }}">{{ breadcrumb.getName() }}</a>
                                </span>
                            {% endfor %}
                            </div>
                        </noscript>
                    {% endif %}
                    {%- if seoContent|default(false) -%}
                        <noscript id="fallbackPageContent">
                            {{- seoContent|raw -}}
                        </noscript>
                    {%- endif -%}
                    <div class="fullPageLoader"></div>
                </div>
            {%- endif -%}
            {%- if themeFooter -%}
                <noscript id="themeFooter">{{ themeFooter }}</noscript>
            {%- endif -%}
        </div>
        <div id="modals"></div>
    </body>
</html>
