<!DOCTYPE html>
<html lang="{{ CurrentLocale.Key|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ renderControllerAsset('Head') }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet">
</head>

<body class="{{ BodyClass|default("") }}">

<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="Frame" id="page">
    <header id="titleBar" data-react="title-bar-hamburger" style="display: none!important;" data-unhide="true"></header>
    <div class="Frame-top">
        <div class="Frame-body">

{#            <!---------- Hero Banner ---------->#}
{#            {if $ThemeOptions.Options.hasHeroBanner && inSection(["CategoryList", "DiscussionList"])}#}
{#            <div class="Herobanner">#}
{#                {if $heroImageUrl}#}
{#                <div class="Herobanner-bgImage" style="background-image:url('{$heroImageUrl}')"></div>#}
{#                {/if}#}
{#                <div class="Container">#}
{#                    {if $ThemeOptions.Options.hasFeatureSearchbox}#}
{#                    <div class="SearchBox js-sphinxAutoComplete" role="search">#}
{#                        {if $hasAdvancedSearch === true}#}
{#                        {module name="AdvancedSearchModule"}#}
{#                        {else}#}
{#                        {searchbox}#}
{#                        {/if}#}
{#                    </div>#}
{#                    {else}#}
{#                    {if $Category}#}
{#                    <h2 class="H HomepageTitle">{$Category.Name}{follow_button}</h2>#}
{#                    <p class="P PageDescription">{$Category.Description}</p>#}
{#                    {else}#}
{#                    {if {homepage_title} !== ""}#}
{#                    <h2 class="H HomepageTitle">{homepage_title}</h2>#}
{#                    {/if}#}
{#                    {if $_Description}#}
{#                    <p class="P PageDescription">{$_Description}</p>#}
{#                    {/if}#}
{#                    {/if}#}
{#                    {/if}#}
{#                </div>#}
{#            </div>#}
{#            {/if}#}
{#            <!---------- Hero Banner END ---------->#}

            <div class="Frame-content">
                <div class="Container">
                    <div class="Frame-contentWrap">
                        <div class="Frame-details">
{#                            {if !$isHomepage}#}
{#                            <div class="Frame-row">#}
{#                                <nav class="BreadcrumbsBox">#}
{#                                    {breadcrumbs}#}
{#                                </nav>#}
{#                            </div>#}
{#                            {/if}#}
{#                            {if !$DataDrivenTitleBar}#}
{#                            <div class="Frame-row SearchBoxMobile">#}
{#                                {if !$SectionGroups && !inSection(["SearchResults"])}#}
{#                                <div class="SearchBox js-sphinxAutoComplete" role="search">#}
{#                                    {if $hasAdvancedSearch === true}#}
{#                                    {module name="AdvancedSearchModule"}#}
{#                                    {else}#}
{#                                    {searchbox}#}
{#                                    {/if}#}
{#                                </div>#}
{#                                {/if}#}
{#                            </div>#}
{#                            {/if}#}
                            <div class="Frame-row">

{#                                <!---------- Main Content ---------->#}
                                <main class="Content MainContent">
{#                                    <!---------- Profile Page Header ---------->#}
{#                                    {if inSection("Profile")}#}
{#                                    <div class="Profile-header">#}
{#                                        <div class="Profile-photo">#}
{#                                            <div class="PhotoLarge">#}
{#                                                {module name="UserPhotoModule"}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="Profile-name">#}
{#                                            <div class="Profile-row">#}
{#                                                <h1 class="Profile-username">#}
{#                                                    {$Profile.Name|escape:'html'}#}
{#                                                </h1>#}
{#                                            </div>#}
{#                                            <div class="Profile-row">#}
{#                                                {if isset($Rank)}#}
{#                                                <span class="Profile-rank">#}
{#                                                                {$Rank.Label}#}
{#                                                            </span>#}
{#                                                {/if}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    {/if}#}
{#                                    <!---------- Profile Page Header END ---------->#}

                                    {{ renderControllerAsset("Content") }}
                                </main>
{#                                <!---------- Main Content END ---------->#}

                                <!---------- Main Panel ---------->
                                <aside class="Panel Panel-main">
{#                                    {if !$SectionGroups && !$DataDrivenTitleBar}#}
{#                                    <div class="SearchBox js-sphinxAutoComplete" role="search">#}
{#                                        {searchbox}#}
{#                                    </div>#}
{#                                    {/if}#}
                                    {{ renderControllerAsset("Panel") }}
                                </aside>
                                <!---------- Main Panel END ---------->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Frame-footer">

    </div>
</div>
<div id="modals"></div>
{event name="AfterBody"}
</body>

</html>
