<div class="Frame" id="page">
    <div class="Frame-top">
        <div class="Frame-body">

            <!-- Hero Banner -->
            {%- if themeOptions.hasHeroBanner and inSection(['CategoryList', 'DiscussionList']) -%}
            <div class="Herobanner">
                {% if siteMeta.ui.bannerImage %}
                    <div class="Herobanner-bgImage" style="background-image:url('{{ siteMeta.ui.bannerImage }}')"></div>
                {% endif %}
                <div class="Container">
                    {% if themeOptions.hasFeatureSearchbox|default(false) and hasAdvancedSearch %}
                        <div class="SearchBox js-sphinxAutoComplete" role="search">
                            {{ renderModule("AdvancedSearchModule") }}
                        </div>
                    {% else %}
                        <h2 class="H HomepageTitle">{{ splashTitle }}</h2>
                        <p class="P PageDescription">{{ splashDescription }}</p>
                    {% endif %}
                </div>
            </div>
            {%- endif -%}
            <!-- Hero Banner END -->

            <div class="Frame-content">
                <div class="Container">
                    <div class="Frame-contentWrap">
                        <div class="Frame-details">
                            {% if not isHomepage %}
                            <div class="Frame-row">
                                <nav class="BreadcrumbsBox">
                                    {{ renderBreadcrumbs() }}
                                </nav>
                            </div>
                            {% endif %}
                            <div class="Frame-row">

                                <!-- Main Content -->
                                <main class="Content MainContent">
                                    {{ renderControllerAsset("Content") }}
                                </main>
                                <!-- Main Content END -->

                                <!-- Main Panel -->
                                <aside class="Panel Panel-main">
                                    {{ renderControllerAsset("Panel") }}
                                </aside>
                                <!-- Main Panel END -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
